<!-- This is the footer. Include anything you'd like here, like a link to an <a class="internal-link" href="{{ site.baseurl }}/about">About</a> page. -->
<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:20px;">
    <div>
        <a href="/">bahramj.com</a>
    </div>
    <div style="display:flex; gap:10px;">

        <a href="https://ko-fi.com/jowharshamshiri"><img src="/notes/images/buy_me_coffee.png"/></a>
        <a href="https://github.com/jowharshamshiri"><img src="/notes/images/github_logo.png"/></a>
        <a href="https://www.linkedin.com/in/joharshamshiri/"><img src="/notes/images/linkedin_logo.png"/></a>
        <a href="https://bsky.app/profile/bahramj.com"><img src="/notes/images/bluesky_logo.png"/></a>
    </div>
</div>