<div>
    <a class="internal-link" href="{{ site.baseurl }}/"><b>{{ site.title }}</b></a>
	<div style="display:flex; justify-content:flex-end; gap:10px; margin-bottom:20px;">
		<a href="https://github.com/jowharshamshiri"><img src="/notes/images/github_logo.png"/></a>
		<a href="https://www.linkedin.com/in/joharshamshiri/"><img src="/notes/images/linkedin_logo.png"/></a>
		<a href="https://bsky.app/profile/joeharshamshiri.bsky.social"><img src="/notes/images/bluesky_logo.png"/></a>
		</div>
	
</div>
